* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Urbanist", sans-serif;
}

.main {
  background-color: white;
  padding: 10px 20px;
}
.main h1 {
  text-align: center;
  color: gray;
  font-weight: 300;
}
.row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.col-left {
  width: 50%;
  margin-right: 10px;
  text-align: center;
}
.content {
  margin-bottom: 20px;
}
.content h2 {
  margin-bottom: 10px;
  color: gray;
  font-weight: 300;
}
.content p {
  font-weight: 300;
}
.content-2 {
  color: gray;
}
.content-2 h3 {
  font-weight: 300;
}
.gmail-img {
  width: 60%;
}
.col-right {
  width: 50%;
  padding: 0 50px;
}
.form {
  background-color: rgba(208, 200, 200, 0.3);
  padding: 20px 10px;
}
.name {
  margin-bottom: 10px;
}
.name-input {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.username,
.email,
.password,
.birthday,
.select-time,
.gender,
.location,
.email,
.phone {
  margin-bottom: 10px;
}
.name-input input {
  padding: 5px;
  margin-right: 5px;
  width: 50%;
}
.input-label {
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  padding: 5px;
}
.placeholder::placeholder {
  text-align: right;
}
.birthday-input {
  display: flex;
  justify-content: space-between;
}
.select {
  padding: 5px;
  width: 40%;
}
.select-day,
.select-year {
  padding: 5px;
  width: 40px;
}
.select-day {
  width: 20%;
}
.select-year {
  width: 30%;
}

.button {
  padding: 10px 20px;
  color: white;
  background-color: blue;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  
}

.text-end {
  display: block;
  width: 90%;
  margin: 10px auto 0 auto;
}
.text-end a{
  text-decoration: none;
}